/* @import '../../../node_modules/sal.js/dist/sal.css'; */

.about-img {
    width:90%;
    height: auto;
    border-radius: 25px 
}

.about-text{
    text-align: center;
    /* width: */
    padding: 0px 20px;
    color: #2BAE66FF
}

.experience{
    padding-left: 20px;
    margin-bottom: 10px;
}

.experience-title{
    text-align: center;
    color:#2BAE66FF
}

@media only screen and (min-width: 769px) {
    .about{
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
    }

    .about-img{
        height: 70%;
        width: auto;
        padding-left:20% ;
        /* justify-items: center; */
    }

    .me{
        width:33%;
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
        margin-right: 5%;
    }

    .experience{
        width: 60%;
        /* padding-left: 1px; */
        height: 100%
    }

    /* .experience-title{
        text-align: center;
    } */
}

