.pimg{
    max-width: 100%;
}

.project-img{
    display: flex;
}

.img-div{
    position: relative;
}

.techs-div{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.822);
}

.project-div{
    text-align: center;
    width: 372px;
    border: 5px solid rgb(7, 59, 58);
    background: rgb(33, 219, 204);;
    border-radius: 15px;
    margin-bottom: 4px;
    flex-basis: 20%;
    box-shadow: 10px 10px #000000;
}

.text-div{
    position: relative;
}

@media only screen and (max-width: 806px){
    .project-div{
        text-align: center;
        width: 90%;
        flex-basis: 80%;
    }
}