.name-div{
    margin: 0;
    width: 100vw;
    text-align: center;
    color: var(--highlight-color); 
    font-family: var(--title-font);
    font-size: xx-large;
}

.section-title{
    font-family: var(--sub-title);
    color: var(--highlight-color); 
}


.all-div{
    height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 480px){
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-height:89vh;
        width: 99vw;
    }

    .img-div{
        flex: 1 1 auto;
        margin: 5px;
        text-align: center;
    }
    
    .text-div{
        flex: 1 1 45%;
        margin: 5px;
    }

    .content-div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 50vh;
        overflow: scroll;
    }
}