.experience-container{
    margin: 5px;
}

.experience-tech{
    text-align: center;
    /* width:25%; */
    color: white;
    --sal-duration: 1s;
}

.experience-tech:hover{
   transform: scale(1.1);
   color: black;
}
@import '../../../node_modules/sal.js/dist/sal.css';

@media only screen and (min-width: 769px) {
    .experience-tech{
        text-align: center;
        width:14%;
        color: white;
        --sal-duration: 1s;
    }
}