/* .experience-container{
    display:flex;
    margin: 5px;
    box-shadow: 2px 5px 10px black
} */

/* .experience-tech{
    text-align: center;
    width:35%;
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px
} */