.content-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(138, 230, 222);
}