.portfolio{
    background-color: #7389AE 
}

.portfolio-title{
    text-align: center;
    color:#E8EDDF
}

@import '../../../node_modules/sal.js/dist/sal.css';
@media only screen and (min-width: 768px){
    /* .portfolio {
        height: 100vh
    } */

    .project-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        --sal-duration: 1s;
    }
}