.portfolio{
    background-color: #2BAE66FF 
}

.portfolio-title{
    text-align: center;
    color:white
}


@media only screen and (min-width: 768px){
    /* .portfolio {
        height: 100vh
    } */

    .project-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}